---
title: 本网站最初的样子 Tongda studio prototype
description: This is a post on My Blog about leveraging agile frameworks.
date: 2026-04-17
tags: 网站Website
---

<h5>以下为本网站刚开始时，无CSS朴素样子，复刻
<br/>
    最开始是http://md.ytongda.com/，后面改http://www.tongda.xyz
<br/>
    工具网址也改了。因此，下方链接并不能访问。
<br/>
    </h5>

<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><link rel="stylesheet" type="text/css" href="cid:css-329158d4-65dd-4f69-8a69-468fdb86fa15@mhtml.blink" />

  <title>我的网页 My Website</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
</head>

<body>
    <p>欢迎来到我的网页<br>Welcome to my website<br>
<img src="{% staticBase %}{% endstaticBase %}/website/pensive.webp" style="max-width: 20%; height: auto;" alt="mascot">
<br>    
本站导航：  <br>Website navigation:</p>

<a href="http://md.ytongda.com/timedate">时间与日期<br>Time and date</a>
<p></p>
<a href="http://md.ytongda.com/button">按钮点击<br>Click button</a>
<p></p>

<a href="http://md.ytongda.com/ip">IP地址显示<br>IP address show</a>
<p></p>

<a href="http://md.ytongda.com/speedtest">服务器带宽测试<br>Server bandwidth test</a>
<p></p>

<p>外部网址：  <br>Outta links:</p>
<a href="http://www.ytongda.com/">通达电脑主页<br>Ytongda website</a>


<p><br></p>
<p>本网页由Microsoft-IIS/10.0提供<br>This website is powered by Microsoft-IIS/10.0</p>
<p></p>
<p>
图片作者： <a href="https://bsky.app/profile/celphase.bsky.social">CELPHASE</a>，源自 <a href="https://github.com/TecharoHQ/anubis">TecharoHQ/anubis</a> 项目<br>
版权方：© 2025 Xe Iaso，根据 <a href="https://github.com/TecharoHQ/anubis/blob/main/LICENSE">MIT 许可证</a> 提供。<br>
Mascot images were made by <a href="https://bsky.app/profile/celphase.bsky.social">CELPHASE</a>, from <a href="https://github.com/TecharoHQ/anubis">TecharoHQ/anubis</a> project<br>
Copyright © 2025 Xe Iaso, under the terms of the <a href="https://github.com/TecharoHQ/anubis/blob/main/LICENSE">MIT license</a> .

</p>




</body></html>
