---js
const eleventyNavigation = {
	key: "返回主站Go back",
	order: 4
};
---
<meta http-equiv="refresh" content="0; url=http://www.tongda.xyz/" />
正在返回……<br/>
如返回失败，请点击<a href="http://www.tongda.xyz/">返回</a>
<script>
 window.location.href = "http://www.tongda.xyz/";
</script>
